.container{
    height: auto;
    width: 100vw;
    text-align: left;
    vertical-align: top;
    display: flex;
    /* background: linear-gradient(to bottom, #D7C7F4, #9785BA); */
}
.left-container{
    min-width: 208px;
    min-height: 100vh;
    background-color: white;
    /* color: black; */
}
.top-heading{
    position: absolute;
    top: 2%;
    left: 15%;
    font-size: x-large;
    font-weight: 800;
    color: #523985 ;
}

.input-area{
    position: absolute;
    bottom: 0;
    left: 20%;
    display: flex;
    justify-content: center;
    align-items: center;
    margin-bottom: 30px;
    min-width: 846px;
}
.chatbox{
    min-width: 846px;
    height: 41px;
    border-radius: 10px;
    padding: 10px;
    margin-left: 350px;
}
.btn{
    background-color: #D7C7F4;
    height: 41px;
    width: 70px;
    margin: 0 10px;
    border: none;
    border-radius: 10px;
    cursor: pointer;
}
