*{
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
html{
  font-size: 62.5%;
}
body{
  background: linear-gradient(to bottom, #D7C7F4, #9785BA );
  color: black;
  font-family:"Poppins", sans-serif;
}
.app{
  min-height: 100vh;
}